/* <!-- CSS base --> */

  * {
    user-select: none;
  }
  html {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
  :root {
  --background-color: #000;
  --grady: linear-gradient(0deg, #424A26 15%, #6E8249 75%);
  --hulu-color: #6E8249;
  --hulu2: #424A26;
  
  --gradient-green-rgb: 88,102,56;
  --gradient-blue-rgb: 110,130,73;
  --gradient-violet-rgb: 66,74,38;
}
  body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #cover{
    background-color: black;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 4;
  }
  .header {
    position: absolute;
    z-index: 3;
    top: 0;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.75) 50%, rgba(0,0,0,1));
    width: 88vw;
    padding: 0 8.5vw;
    padding-top: 6.35vw;
    padding-bottom: 12.65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer {
    position: absolute;
    z-index: 3;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.75) 50%, rgba(0,0,0,1));
    width: 88vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 8.5vw;
    padding-top: 12.65vw;
  }
  .footer #links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 100%;
    padding-bottom: 4.25vw;
  }
  .footer h4 {
    margin: 0;
    color: white;
    font-size: 2.2vw;
    padding: 2.2vw 4.25vw;
    font-weight: 500;
    font-family: "Geist", sans-serif;
    transition: all ease-out .3s;
  }
  .butt {
    cursor: pointer;
    margin-right: 4.25vw !important;
    background-color: white;
    color: black !important;
    font-size: 3vw !important;
    font-weight: 600;
    border: 2px solid white;
    transition: all ease-in-out .4s;
  }
  .butt:active {
    background-color: rgba(0, 0, 0, 0.35);
    color: white !important;
  }
  .actionButton {
    margin: 6.75vw 0 0 8vw;
    font-size: 1.04vmax;
    text-transform: uppercase;
    width: 63vw;
    padding: 1.5vw 0;
    text-align: center;
    font-weight: 500;
    font-family: "Geist", sans-serif;
    transition: all ease-out .3s;
  }
  .pageTitle {
    margin: 0;
    font-size: 4.375vw;
    font-weight: 400;
    color: white;
  }
  #toprightlogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 4.25vw;
  }
  #toprightlogo .zen-dots-font {
    color: #fff;
    font-size: 5.625vw;
    height: 5.625vw;
    line-height: 5.625vw;
  }
  #toprightlogo .jakarta-sans-font {
    color: var(--hulu-color);
    font-size: 5.625vw;
    line-height: 5.625vw;
    letter-spacing: 0;
  }
  #loading {
    position: absolute;
    z-index: 99;
    right: 8.5vw;
    top: 8.5vw;
    font-size: 6.25vw;
    font-weight: 400;
    color: white;
    background: transparent;
    transition-duration: 0.5s;
  }
.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
  margin-top: 5vw;
}
.input-wrapper label {
  font-weight: 600;
  font-size: 3.75vw;
}
/* Custom Select Box */
.select {
  position: relative;
  width: 100%;
  padding: 0;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-size: 3vw;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin-bottom: 2.5vw;
}
.select.mess {
  width: 100%;
}
/* Selected Value */
.select .selected {
  font-weight: 400 !important;
  font-family: "Geist", sans-serif !important;
  display: block;
  padding: 1.25vw 0;
  transition: all 0.3s ease-in-out;
}

/* Dropdown Options */
.select-options {
  font-weight: 400;
  font-family: "Geist", sans-serif;
  display: none;
  position: absolute;
  width: calc(100% - 2.5vw - 2px);
  background-color: black;
  border: 1px solid white;
  overflow: hidden;
  z-index: 1000;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  padding: 2.5vw 0 0 2.5vw;
}

/* Show Options when Active */
.select.active .select-options {
  display: block;
  max-height: 18vw;
  overflow-y: auto;
  opacity: 1;
}

/* Individual Option */
.select-options div {
  padding-bottom: 2vw;
  font-size: 3vw;
  transition: background-color 0.3s ease-in-out;
}

.select.country, .selected.country, .select-options.country {
  width: auto;
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 1.0625vw;
  margin: 0;
}
.select-options.country {
  bottom: -2.75vw;
  transform: translateX(-6vw);
  background-color: rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(0.2vmax);
  -webkit-backdrop-filter: blur(0.2vmax);
  box-shadow: 0.105vmax 0.105vmax 0.42vmax rgba(0, 0, 0, 0.8);
}
.select-options.country a, .selected.country a{
  display: block;
  text-decoration: none;
  color: white;
  font-size: 2.1vw;
  padding: 2.125vw;
  width: 3.375vw;
  transition: background-color 0.3s ease-in-out;
}

#offer-wrapper, #question-wrapper {
  display: none;
  flex-direction: column;
}
input:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 0.2vmax solid white;
}
input:focus, textarea:focus {
  border-bottom: 0.2vmax solid white;
  background-color: #333;
}
#submitButton:focus {
  border: 0.2vmax solid white;
  color: white !important;
  background-color: #333;
}
input {
  font-size: 3vw;
  font-weight: 400;
  font-family: "Geist", sans-serif;
  padding: 1.25vw 0;
  margin-bottom: 2.5vw;
  border: none;
  width: 100%;
  border-bottom: 1px solid white;
  color: white;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
textarea {
  font-size: 3vw;
  font-weight: 400;
  font-family: "Geist", sans-serif;
  padding: 1.25vw 0;
  margin-bottom: 2.5vw;
  border: none;
  width: 100%;
  border-bottom: 1px solid white;
  color: white;
  background-color: transparent;
  resize: none; /* Optional: prevents resizing */
  height: 28vw; /* Adjust as needed */
  transition: background-color 0.3s ease-in-out;
}



                          /* <!-- CSS Intro --> */



#body {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 1;
  z-index: 5;
}

.absolute-centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.jakarta-sans-font {
  font-family: "Mr Dafoe", cursive;
}

.zen-dots-font {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

#green-filter {
  background: radial-gradient(rgba(var(--gradient-green-rgb), 0.05), rgba(var(--gradient-green-rgb), 0.4) 80%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.gradient {
  filter: blur(15vw);
  height: 4.17vw;
  left: -5%;
  position: absolute;
  width: 110%;
}

#top-gradient {
  background: linear-gradient(
    to right, 
    rgba(var(--gradient-blue-rgb), 0.75) 0% 10%,  
    transparent 10% 20%,
    rgba(var(--gradient-violet-rgb), 0.5) 20% 50%, 
    rgba(var(--gradient-blue-rgb), 0.5) 50% 70%, 
    rgba(var(--gradient-green-rgb), 0.75) 70%
  );
  top: -2.60vw;
}

#bottom-gradient {
  background: linear-gradient(
    to right, 
    rgba(var(--gradient-blue-rgb), 0.75) 0% 10%,  
    transparent 10% 30%,
    rgba(var(--gradient-blue-rgb), 0.5) 30% 50%, 
    transparent 50% 70%,
    rgba(var(--gradient-violet-rgb), 0.5) 70% 80%, 
    transparent 80%
  );
  bottom: -2.60vmax;
}

#logo-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vmax;
}

#logo {
  opacity: 0;
  position: relative;
  z-index: 5;
}

#logo-border {
  background-color: var(--hulu2);
  height: 100%;
  width: 100%;
  z-index: 4;
}
  
#logo-border-inner {
  background-color: var(--background-color);
  height: calc(140% - 0.5em);
  width: calc(160% - 0.5em);
  z-index: 5;
}

#logo-text {
  position: relative;
  z-index: 6;
}
#logo-text div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hulu-text {
  color: #fff;
  font-size: 8.5vw;
  height: 6.25vmax;
  line-height: 6.25vmax;
}

#originals-text {
  color: var(--hulu-color);
  font-size: 8.5vw;
  line-height: 0.75em;
  letter-spacing: 0;
}



                        /* <!-- CSS Image Collage --> */

                          

#image-track {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 8vw;
  overflow-y: scroll;
  max-height: 100vh;
}

#image-track > .trackImgCont .trackImg {
  width: 64vw;
  height: 48vw;
  object-fit: cover;
  object-position: 100% center;
}
.trackImgCont {
  width: 64vw;
  height: 48vw;
  margin: 0 26vw;
  box-shadow: 0.5vw 0.5vw 3vw rgba(0, 0, 0,1);
}

                          /* <!-- CSS Bg Blur --> */

                          

  @keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

.blob {
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, #6E8249 48%, #fff 50%, #424A26 52%);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -2;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(20.25vw);
  -webkit-backdrop-filter: blur(20.25vw);
}



                          /* <!-- CSS Preview --> */



.darkness {
    position: fixed; /* Fullscreen overlay */
    top: 0;
    left: 0;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75); /* Dark overlay */
    backdrop-filter: blur(1vw);
    -webkit-backdrop-filter: blur(1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}
.darkness.mess {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.92) 55%, rgba(0, 0, 0, 0.25)); /* Dark overlay */
}
/* Flexbox Layout */
.container {
    display: flex;
    flex-direction: column; /*it was column-reverse*/
    width: 80vw;
    height: 90vh; /* Limits modal height */
    overflow-y: auto; /* Enables scrolling */
    max-height: 90vh; /* Allows scrolling inside */
}
.container .imageContainer { order: 2; } /*flex-dir fix*/
.container .newDiv { order: 1; }

.container.mess{
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 0 8vw;
    margin: 0 10vw;
}
#pagename, #pagedescription {
  color: white;
}
#pagedescription {
  margin: 2.5vw 0;
}
#pagedescription b {
  font-weight: 600;
}
.last {
  margin-top: 2.5vw;
}
.socials {
  margin-top: 2.5vw;
}
.socials svg {
  height: 6.25vw;
  width: 6.25vw;
}

/* Left: Scrollable Image Container */
.imageContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
}
/* Scrollbar Styling (Optional) */
.imageContainer::-webkit-scrollbar {
    width: 0.42vw;
}
.imageContainer::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 0.21vw;
}
/* Image Styling */
.imageContainer img {
    width: 100%; /* Ensures images stretch to full container width */
    height: auto; /* Keeps aspect ratio */
    display: block;
    margin-bottom: 1.67vw; /* Adds spacing above and below */
}
.imageContainer div img {
    margin-bottom: 0;
}

/* Parallax Effect */
.parallax {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Parallax Image */
.parallax img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(0);
    transition: transform 0.3s ease-out;
}

/* Buttons for Switching */
#left, #right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.25);
    padding: 0 1vw;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 10vw;
    width: 7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left {
    left: 0;
}

#right {
    right: 0;
}
.imageContainer .parallax div img {
    height: 5vw;
    width: 5vw;
    filter: invert();
}
#newDiv {
  margin-bottom: 6.75vw;
}
/* Right: Fixed Details Container */
.detailsContainer {
    padding: 0 8vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden; /* Prevents scrolling */
}
.detailsContainer h2, .container.mess h2 {
  color: white;
  font-size: 8vw;
  font-weight: 800;
  font-family: "Geist", sans-serif;
  margin: 0 0 2.1vw;
  margin: 5vw 0 0 0;
}
.detailsContainer h4, .container.mess h4, label {
  color: white;
  font-size: 3vw;
  font-weight: 300;
  font-family: "Geist", sans-serif;
}
  #exitButton {
    position: absolute;
    z-index: 91;
    top: 5vw;
    left: 5vw;
    border-radius: 100%;
    border: 0.4vw solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: ease-in-out .3s;
    color: white;
  }
  #exitButton svg{
    height: 5vw;
    width: 5vw;
    padding: 1.25vw;
  }
